body {
    font-family: Poppins, Helvetica, sans-serif;
    margin: 0;
    background-color: #eee;
  }
  
  a {
    text-decoration: none;
  }
  
  .site-title {
    margin: 0;
    padding: 20px 20px;
    font-size: 36px;
    font-weight: 400;
    background-color:rgb(255,63,9);
    color: #fff;
  }
  
  .navbar {
    background-color: rgb(0,0,0);
    font-size: 18px;
    line-height: 35px;
  }
  
  .navlist {
    margin: 0 0 0 20px;
    padding: 0;
  }

  .navitem {
    display: inline-block;
  }
  
  a {
    color: rgb(255,63,9);
  }

  a:hover,
  a:focus {
    font-size: 20px;
    border-bottom: 4px solid rgb(255, 63,9);
  }
  
  a:focus {
    outline: none;
  }
  
  .navlink a {
    padding: 8px 10px;
    display: inline-block;
  }
  
  .navlink.active {
    box-shadow: inset 0 -3px #319df6;
  }
  
  .navbar-search {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    padding: 0;
    line-height: 38px;
  }
  
  #navbar-search-input {
    padding: 4px;
    font-size: 16px;
    background-color: #eee;
    border: 1px solid #dadada;
    border-radius: 2px;
  }
  
  #navbar-search-input:focus {
    outline: none;
    background-color: #fff;
  }
  
  #navbar-search-button {
    margin-left: -3px;
    font-size: 16px;
    background: rgb(0,0,0);
    border: rgb(0,0,0);
    color: rgb(255,63,9);
    cursor: pointer;
  }
  
  #navbar-search-button:hover {
    font-size: 18px;
  }
  
  #navbar-search-button:focus {
    outline: none;
  }
  
  .section-title {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    color: white;
    background-color:rgb(255,63,9) ;
    margin-top: 0px;
  }

  ul {
    list-style-type: none;
  }

  .steps li {
   font-weight: bolder;
   font-size: 35px;
   text-align: center;
  }

  ul p {
    font-weight: bold;
    margin-top: 0px;
    text-align: center;
  }
